@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body{
	background-color: rgba(146,180,236,1);
	position: relative;
}



/*Top 부분*/
/*기본*/
.Top_container {
	float:left;
    position: relative;
    height: 100vh;
    width: 70px;
    background:#fadf74;
    box-shadow: 10px 0 0 rgba(146,180,236,1);
    border-left: 10px solid #4a7c9d;
    overflow-x: hidden;
    transition: width 0.5s;
}

.Top_logo{
	position:relative;
	width:100%;
	height:60px;
	line-height: 60px;
	text-align: center;
	margin-bottom:20px;
	margin-top:20px;
	transition: opacity 0.2s;
	white-space: nowrap;
	opacity:0;
}

.menu_logo{
	position:relative;
	width:50px;
	top:15px;
	margin-right:10px;
	margin-left:5px;

}

.Top_profile_section{
	width:100%;
	text-align: center;
}

#Top_profile{
	width:200px;
	border-radius: 100%;
	opacity:0;
	transition: opacity 0.3s;
	
}

#Top_info{
	height:50px;
	margin-top:10px;
	opacity:0;
	transition: opacity 0.3s;
}
#Top_info2{
	height:40px;
	opacity:0;
	transition: opacity 0.3s;
}

#Top_info3{
	height:30px;
	margin-bottom:10px;
	opacity:0;
	transition: opacity 0.3s;
}

#Top_info2>a:link,#Top_info2>a:hover,#Top_info2>a:visited{
	text-decoration: none;
	color:black;
}
#Top_info3>a:link,#Top_info3>a:hover,#Top_info3>a:visited{
	text-decoration: none;
	color:black;
}

#logout{
	background-color: white;
	text-decoration: none;
	color:black;
	border-radius: 5px;
	border:5px solid white;
}

/*마우스 오버*/
.Top_container:hover {
    width: 300px;
}

/*
.Top_logo:hover{
	position:relative;
	width:100%;
	height:60px;
	line-height: 60px;
	text-align: center;
	margin-bottom:20px;
	margin-top:20px;
}

.menu_logo :hover{
	position:absolute;
	width:50px;
	left: 20px;
	top : 7px;
}*/


.Top_container ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.Top_container ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Top_container ul li.active {
    background: rgba(146,180,236,1);
}


.Top_container ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

.Top_container ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #fadf74;
    border-radius: 50%;
    box-shadow: 15px 15px 0 rgba(146,180,236,1);
}

.Top_container ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #fadf74;
    border-radius: 50%;
    box-shadow: 15px -15px 0 rgba(146,180,236,1);
}

.Top_container ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.Top_container ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.Top_container ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

/*컨텐츠 부분*/
.main_container{
	float:left;
	margin-left:15px;
	white-space: nowrap;
}

/*index*/
.swiper {
        width: 98vw;
        height: 70vh;
        position: absolute;
        margin-left:-7px;
        margin-top:150px;
      }

      .swiper-slide {
        position: relative;
        font-size: 18px;
        background: #fadf74;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      
      .slide1{
      position: relative;
      width:49vw;
      height:70vh;
      margin-left:49vw;
      padding-top:18vh;
      padding-left:4vw;
      }
      
      .S_img1{
      position: absolute;
      width:24.5vw;
      height:35.1vh;
      left:0;
      top:0;
      }
      
      .S_img2{
      position: absolute;
      width:24.5vw;
      height:35.1vh;
      left:24.5vw;
      top:0;
      }
      
       .S_img3{
      position: absolute;
      width:24.5vw;
      height:35vh;
      left:0;
      bottom:0;
      }
      
        .S_img4{
      position: absolute;
      width:24.5vw;
      height:35vh;
      left:24.5vw;
      bottom:0;
      }
      
      .View_a{
      white-space:nowrap;
      padding:  2.5vh 0 2.5vh 3vw;
      background-color: #fff;
      text-decoration: none;
      }
      
      .View_a2{
      white-space:nowrap;
      padding:  2.5vh 1.3vw 2.5vh 1.3vw;
      background-color: #ffd044;
      margin-left:3vw;
      
      }


:root {
  --white: rgba(146,180,236,1);
}

.container {
  width: 100%;
  height: 15vh;
  position: relative;
  overflow: hidden;
  margin-top:20px;
  margin-bottom:-100px;
}

.slide-bar {
  position: absolute;
  top: 50%;
  left: 25vw;
  transform: translateY(-50%) rotateZ(15deg);
  width: 100px;
  height: 100px;
  z-index: 10;
	font-size: 64px;
	color:white;
}

.bar {
  width: 100%;
  height: 150px;
  border-radius: 100px;
  background-color: var(--black);
}

.text-block {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--white);
}
.text-block h1 {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 2px;
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
  color: var(#4a7c9d);
}
.text-block h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  background: radial-gradient(var(--black), transparent 70%);
  transform: translateY(100px) rotateX(-60deg);
  opacity: 0.3;
}

#textone {
  z-index: 6;
  clip-path: polygon(0 0, 18% 0, 8% 100%, 0% 100%);
}
#texttwo {
  z-index: 4;
  clip-path: polygon(0 0, 91% 0, 81% 100%, 0% 100%);
}


/*푸터영역*/
.bottom_container{
	float:left;
	width:99.1vw;
	height:50px;
	background-color: gray;
}