@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Top 부분*/
/*기본*/
.Top_container {
	float:left;
    position: relative;
    height: 100vh;
    width: 70px;
    background:#fadf74;
    box-shadow: 10px 0 0 #4a7c9d;
    border-left: 10px solid #2b343b;
    overflow-x: hidden;
    transition: width 0.5s;
}

.Top_logo{
	position:relative;
	width:100%;
	height:60px;
	line-height: 60px;
	text-align: center;
	margin-bottom:20px;
	margin-top:20px;
}

.menu_logo{
	position:absolute;
	width:50px;
	left: 20px;
	top : 7px;
}

.Top_profile_section{
	width:100%;
	text-align: center;
}

#Top_profile{
	width:200px;
	border-radius: 100%;
}

#Top_info{
	height:50px;
	margin-top:10px;
	margin-bottom:20px;
}

/*마우스 오버*/
.Top_container:hover {
    width: 300px;
}

/*
.Top_logo:hover{
	position:relative;
	width:100%;
	height:60px;
	line-height: 60px;
	text-align: center;
	margin-bottom:20px;
	margin-top:20px;
}

.menu_logo :hover{
	position:absolute;
	width:50px;
	left: 20px;
	top : 7px;
}*/


.Top_container ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.Top_container ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Top_container ul li.active {
    background: #4a7c9d;
}

.Top_container ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

.Top_container ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #fadf74;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #4a7c9d;
}

.Top_container ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #fadf74;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #4a7c9d;
}

.Top_container ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.Top_container ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.Top_container ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

/*컨텐츠 부분*/
.main_container{
	float:left;
	margin-left:15px;
}

/*푸터영역*/
.bottom_container{
	float:left;
	width:100vw;
	height:50px;
	background-color: gray;
}