@charset "UTF-8";

.noticeContainer{
	width:100%;
	height:855px;
	position:relative;
	text-align:center;
}
.noticeBtn{
	width:140px;
	height:40px;
	background-color:#92B4EC;
	font-size:16px;
	font-weight:700;
	border-radius:8px;
}

.noticeBoard{
	margin:0 auto;
	width:1200px;
	height:650px;
	position:relative;
}
.noticeListTop li{
	border-bottom:1px solid rgba(0,0,0,20%);
	width:15%;
	height:50px;
	line-height:50px;
	float:left;
	font-size:1.5em;
}
.noticeList li{
	width:15%;
	height:60px;
	line-height:60px;
	float:left;
}